/* style.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #28a745;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-height: 50px;
    margin-right: 1rem;
}

nav {
    background-color: #333;
    color: white;
    padding: 0.5rem 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

nav a.active {
    background-color: #28a745;
    color: white;
}

/* Main Content Styles */
main {
    padding: 2rem;
}

.admin-dashboard {
    background-color: white;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-dashboard h2 {
    margin-bottom: 1.5rem;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.stat-card {
    background-color:rgb(91, 165, 113);
    flex-basis:20%;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .stat-card img {
    max-width: 50px; 
    margin-bottom: 0.5rem;
} */

.stat-card h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.users-table {
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 0.8rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f0f0f0;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    
    bottom: 0;
    width: 100%;
}